/* Fondo del BorderPane principal */
.header-borderpane {
    -fx-background-color: #0F0E17;
}

/* Estilo para el FlowPane de la cabecera */
.header-flowpane {
    -fx-background-color: #0F0E17;
    -fx-hgap: 20.0;
}

/* Botón de búsqueda */
.search-button {
    -fx-font-family: "Consolas";
    -fx-font-size: 12px;
}

/* Botón para eliminar filtros */
.delete-filters-button {
    -fx-font-family: "Consolas";
    -fx-font-size: 12px;
}

/* Botón para aplicar filtros (puedes personalizarlo según tus necesidades) */
.filter-button {
    /* Aquí puedes agregar estilos específicos para el botón FILTER */
}

/* Estilos para los CheckComboBox (si deseas personalizarlos) */
.combo-box {
    /* Personaliza aquí según lo requieras */
}
