/* Fondo de la aplicación */
.background-pane {
    -fx-background-image: url("../../../src/main/resources/Images/Login.jpeg");
    -fx-background-size: cover;
}

/* Estilo para el contenedor del botón LOGIN */
.btn-login-container {
    -fx-background-color: #E53170;
}

/* Estilo para el botón LOGIN */
.btn-login {
    -fx-background-color: #0076D4;
    -fx-cursor: hand;
}

/* Estilo para el contenedor del botón REGISTER */
.btn-register-container {
    -fx-background-color: #FF8906;
}

/* Estilo para el botón REGISTER */
.btn-register {
    -fx-background-color: #005599;
    -fx-cursor: hand;
}
